apiVersion: v1
kind: Pod
metadata:
  name: wi-test
  namespace: dev
  labels:
    azure.workload.identity/use: "true"
spec:
  serviceAccountName: app-sa
  restartPolicy: Never
  containers:
    - name: azcli
      image: mcr.microsoft.com/azure-cli:2.65.0
      env:
        - name: AZURE_CLIENT_ID
          value: "da5a2c20-2e1b-4a03-9e7f-434d94ecda6a"
        - name: AZURE_SUBSCRIPTION_ID
          valueFrom:
            configMapKeyRef:
              name: azure-context
              key: subscriptionId
      command: ["/bin/sh","-c"]
      args:
        - |
          set -e
          echo "AZURE_CLIENT_ID=$AZURE_CLIENT_ID"
          echo "AZURE_TENANT_ID=$AZURE_TENANT_ID"
          echo "AZURE_FEDERATED_TOKEN_FILE=$AZURE_FEDERATED_TOKEN_FILE"

          echo "Logging in with federated token..."
          az login \
            --service-principal \
            --username "$AZURE_CLIENT_ID" \
            --tenant "$AZURE_TENANT_ID" \
            --federated-token "$(cat "$AZURE_FEDERATED_TOKEN_FILE")" \
            --allow-no-subscriptions

          echo "Setting subscription..."
          az account set --subscription "$AZURE_SUBSCRIPTION_ID"

          echo "Reading dev RG..."
          az group show -n rg-kingsila-dev -o table

          echo "SUCCESS"
