apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  template:
    spec:
      containers:
        - name: app
          args:
            - "-listen=:8080"
            - "-text=hello-from-dev-via-ingress"
