replicaCount: 1

nameOverride: ""
fullnameOverride: ""
image:
  repository: acrkingsilaplatform.azurecr.io/golden-app
  tag: ""
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "250m"
    memory: "128Mi"

service:
  port: 8080

serviceAccount:
  create: true
  name: ""

workloadIdentity:
  enabled: true
  clientId: ""

probes:
  enabled: true
  path: "/"
  port: 8080

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - host: golden-app.test.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
env: []
