name: TF Force Unlock Dev

on:
  workflow_dispatch:
    inputs:
      lock_id:
        description: "Terraform lock ID"
        required: true

jobs:
  force_unlock:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_USE_OIDC: true
      TF_IN_AUTOMATION: true

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Terraform Init
        run: terraform init -input=false

      - name: Force unlock
        run: terraform force-unlock ${{ github.event.inputs.lock_id }} << 'EOF'
yes
EOF
